* {
  --background: #ffffff;
  --background-primary: #465f73;
  --background-secondary: #dce3ea;
  --background-input: #fbfbfb;
  --element-text: #2e3a47;
  --element-text-secondary: #818181;
  --element-text-light: #fff;
  --border: #d3dbe3;
}

* {
  border: none;
  color: var(--element-text);
  transition-duration: 0.6s;
  transition-property: background-color, color;
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow: hidden;
}

header{
  border-bottom: 1px solid #b1cddd;
  background-color: #e6eff4;
  height: 34px;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"], 
input[type="password"], 
input[type="tel"], 
input[type="number"] {
  height: 32px;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 4px 8px;
  border: 1px solid #acbdcd;
  background: #fff;
  font-family: 'Open Sans','Helvetica Neue',-apple-system,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
input[type="radio"], 
input[type="checkbox"] {
  margin: -4px 6px 0 0;
  padding: 0;
  vertical-align: middle;
}
button {
  border: none;
}

main {
  max-width: 1200px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  color: #2e3a47;
}

body,
p,
div,
li {
  color: #2e3a47;
  font-family: 'Open Sans', 'Helvetica Neue', -apple-system, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}


#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
}